/* Write your CSS here */
.not-found-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.not-found-content-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .not-found-content-container {
    align-items: flex-start;
    margin-top: 58px;
  }
}

.not-found-responsive-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 92%;
  max-width: 1115px;
}

@media screen and (max-width: 768px) {
  .not-found-responsive-container {
    margin-top: 58px;
    max-width: 460px;
  }
}

.image {
  width: 330px;
}

@media screen and (min-width: 768px) {
  .image {
    width: 478px;
  }
}

.heading {
  font-family: 'Roboto';
  font-weight: 550;
  font-size: 15px;
  line-height: 1.5;
  margin: 0px;
  color: #334155;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-weight: 550;
    font-size: 35px;
    line-height: 1.22;
  }
}

.description {
  font-family: 'Roboto';
  font-size: 15px;
  line-height: 1.75;
  color: #64748b;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .description {
    text-align: center;
    font-size: 13px;
    line-height: 1.33;
    width: 240px;
    margin-top: 5px;
  }
}
